	input, button{font-size: 1.0em; text-align:center; font-weight:bold;}
	input:focus,#ctg:focus{outline: solid red;}
	.dsp {width: 55px; margin: auto;}

	*{margin:0;padding:0px;list-style:none;text-decoration:none;}
	body{font-size:100%; display: flex; flex-wrap: wrap;}
	.contain{display: flex; flex-direction: column;}
	.canvas {
		background: #e0ebeb;
		display:grid; 
		grid-template-columns: repeat(21,38px);
		background-size:cover; 
		grid-gap: 0px;
		text-align:center;
		}
	.insrt {margin: 10px;height: auto;font-size: 1.0em;}
	#sjtm, .bday {width:85px;} #sj {width:130px;} #tm {width:85px;}
	#sel_dt, .txt {font-size: 0.9em; text-align:center; font-weight:bold;}
	.ifo { font-size: 1.0em; width:798px;}
	.infm { color: #f00; font-size: 1.0em; font-weight:bold; border: 1px solid red; display: inline-block; width: 778px; margin:10px;}
	.hangun {grid-column: 15/span 7;grid-row: 1/span 1; color: #000; font-weight: bold;border:1px solid black;}
	.hunt {grid-column: 15/span 1;grid-row: span 2; color: #000; font-weight: bold;border:1px solid black;min-height:30px;}
	.hun1 {grid-column: 16/span 1;grid-row: span 2; color: #000; border:1px solid black;min-height:30px; font-size: 1.6em; font-weight: bold; border-right: none; font-family:"한양해서";padding-top: 15px;}
	.hun2 {grid-column: 17/span 2;grid-row: span 2; color: #000; border:1px solid black;min-height:30px; font-size: 14px; border-left: none; text-align:left;}
	.hun3 {grid-column: 19/span 3;grid-row: span 2; color: #000; border:1px solid black;min-height:30px; font-size: 0.8em; border-left: none; text-align:left;}
	.sjt {grid-column: 1/span 2;grid-row: 2/span 5; color: #000; font-weight: bold;border:1px solid black; display: flex; flex-direction: column;}
	.sjat,.sjbt {grid-column: 1/span 2;grid-row: span 1; color: #000; font-weight: bold;border:1px solid black;min-height:30px;}
	.sjct {grid-column: 1/span 2;grid-row: span 1; color: #000; font-weight: bold;border:1px solid black;min-height:30px; font-size: 0.6em;}
	.hun {grid-column: 15/span 1;grid-row: span 1; color: #000; font-weight: bold;border:1px solid black;min-height:30px;}
	.huna {grid-column: 16/span 3;grid-row: span 1; color: #000; border:1px solid black;min-height:30px; font-size: 0.8em; border-left: none; text-align:left;}
	.hunb {grid-column: 19/span 3;grid-row: span 1; color: #000; border:1px solid black;min-height:30px; font-size: 0.8em; border-left: none; text-align:left;}
	.sjo,.sjot {grid-column: span 3;grid-row: span 1; color: #000; font-weight: bold;border:1px solid black;min-height:30px;}
	.sjut1,.sjut2,.sjut3 {grid-column: span 1;grid-row: span 1; color: #000; font-weight: bold;border:1px solid black;min-height:30px;}
	.sju1 {grid-column: span 1;grid-row: span 1; color: #000; border:1px solid black;min-height:30px; font-size: 1.6em; font-weight: bold; padding-top:30px; border-right: none; font-family:"한양해서";}
	.sju2 {grid-column: span 1;grid-row: span 1; color: #000; border:1px solid black;min-height:30px; font-size: 0.8em; border-left: none;}
	.seu {grid-column: span 2;grid-row: span 1; color: #000; border:1px solid black;min-height:30px; font-size: 0.7em; text-align:left;}
	.mou {grid-column: span 2;grid-row: span 1; color: #000; border:1px solid red;min-height:30px; font-size: 0.7em; text-align:left;}
	.dau {grid-column: span 2;grid-row: span 1; color: #000; border:1px solid blue;min-height:30px; font-size: 0.7em; text-align:left;}
	.sja,.sjb {grid-column: span 3;grid-row: span 1; color: #000; border:1px solid black;min-height:30px; font-size: 0.8em;}
	.sj {grid-column: span 3;grid-row: span 1; color: #000; font-weight: bold;border:1px solid black;height:60px;font-size:3.0em; font-family:"한양해서";}
	.out { display: flex; min-height: 100px; width: 1040px; padding: 0 10px; margin-bottom:10px;}
	.out1 { display: flex; flex-direction: column; float:left; width: 798px; margin-bottom:10px;}
	#output1,#output1a {width:458px;}
	#output3,#output3a {width:538px;}
	#output2 {width: 254px;}
	#output4,#output5 {width: 742px;}
	#output1,#output1a,#output2,#output3,#output3a,#output4,#output5 {color: #000; padding:10px;border:1px solid black;text-align:left;}
	#output1,#output1a,#output2,#output3,#output3a { min-height: 100px; font-size: 0.8em;}
	#output0,#outputx,#output2,#output4,#output5 { min-height: 100px;}
	#output0,#outputx {color: #000; background: #ffeecc; padding:10px; margin-top:10px; border:1px solid black;text-align:left; font-size: 0.8em; width:776px;}
	#outputa,#outputb {color: #000; padding:10px;border:1px solid black;text-align:left; font-size: 0.8em; width:776px; min-height: 100px;}
	#output1,#output1a,#output2,#outputa,#output4 {background: #ebebe0;}
	#output3,#output3a,#output5,#outputb {background: #f2d9f2;}
	.spcs, .spct {font-weight: bold;}
	.spcs:hover, .spct:hover {color:#f00;cursor:pointer;}
	.txca,.txcb,.txcc{display: none;}
	.dum {width:800px; display: block; padding: 10px;}

	table{border: 1px solid black; border-collapse: collapse;}
	td{border: 1px solid black;}
	.rdat { width: 400px; font-size: 0.8em; margin-left: 10px; font-weight: bold;}
	.rdat0,.rdat1 {width: 40px; text-align:center; font-size: 0.8em;}
	.rdat2 {width: 120px; text-align:center; font-size: 0.8em;}
	.rdau0,.rdau1,.rdau2 {width: 65px; text-align:center; font-size: 0.8em;}
	.rdat0,.rdau0 {font-weight: bold;}
	#submit, #submit1 {padding: 0; font-weight: bold;}
	#sola {display:none; font-weight: bold;}
	#clear1 {padding: 0;}
	@media screen and (min-width: 800px) {.contain{display: block;width:1960px;} .canvas {float: left;} }